PORT=8082
DATABASE_URL=postgres://postgres:postgres@localhost:5432/donation_db

AWS_REGION=us-east-1
AWS_SQS_URL=http://localhost:9324/queue/solidary-donations

ENVIRONMENT=local
OTEL_EXPORTER_OTLP_ENDPOINT=localhost:4317
